@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

:root {
  --color-primary-gradient: linear-gradient(to right, #5ed3e1, #7f53ac 59%);
  --color-aquablue: #5ed3e1;
  --color-purple: #7f53ac;
  --color-purplelight: #f7f5fa;
  --color-grey01: #6b6b6b;
  --color-grey02: #707070;
  --color-grey03: #979797;
  --color-grey04: #c5c5c5;
  --color-grey05: #00000029;
  --color-light: #f7f5fa;
  --color-white: #ffffff;
  --color-danger: #cc4949;
}

* {
  margin: 0;
  padding: 0;
}
